.task-list {
  text-align: center;
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  margin: auto;

  &__task {
    background-color: var(--bg-1);
    border-radius: 0.3rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    &--complete-btn {
        margin-bottom: 1rem;
        border: none;
        border-radius: 0.3rem;
        padding: 0.5rem;
        font-size: 0.9rem;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        cursor: pointer;
    }
  }
}
