@import "./settings/colors";
@import "./components/task-list";
@import "./components/task-form";

html,
body {
  background-color: var(--bg-0);
  padding: 0;
  margin: 0;
  color: white;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
}

* {
  box-sizing: border-box;
}
